{% extends "base.html" %}
{% block title %} Customize {% endblock %}
{% block index %}
        
            <div id="sidebar" class="active">
                <div id="toggleBtn"><span>&#10095;</span></div>
                 <!-- tab btns -->
                <div class="tab-buttons flex">
                    <button class="tab-btn active" data-tab="palette">Palette</button>
                    <button class="tab-btn" data-tab="predefined">Presets</button>
                    <button class="tab-btn" data-tab="">Presets</button>
                    <button class="tab-btn" data-tab="">Presets</button>
                </div>
                
                <!-- tabs -->
                <div class="tab-content">
                    <section class="tab-panel active column center" id="palette">
                        <h3>Choose a color pallete</h3>
                        <form class="flex column" method="POST" id="colorForm">
                            <div class="form-item center flex spread">
                                <label>Main colour</label>
                                <input class="color-input" type="color" name="--main-clr" value="{{ colors['--main-clr'] }}">
                            </div>
                            <div class="form-item center flex spread">
                                <label>Secondary colour</label>
                                <input class="color-input" type="color" name="--secondary-clr" value="{{ colors['--secondary-clr'] }}">
                            </div>
                            <div class="form-item center flex spread">
                                <label>Accent colour</label>
                                <input class="color-input" type="color" name="--acc-clr" value="{{ colors['--acc-clr'] }}">
                            </div>
                            <div class="center flex spread">
                                <button type="submit">Apply</button>
                            </div>
                        </form>
                        <button id="color_reset">Reset</button>
                        
                    </section>
                
                    <section class="tab-panel" id="predefined">
                    <!-- Predefined color pallets -->
                    <!-- <section>
                        <h3>Predefined color pallets</h3>
                        <div class="color-pallete">
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                        </div>
                        <div class="color-pallete">
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                        </div>
                        <div class="color-pallete">
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                        </div>
                    </section> -->
                    </section>
                </div>
  
                
            </div>
            
              <!-- main stuff -->
            <div class="wrapper flex" id="weird-wrapper">
                <div class="flex fill-space">
                    <div class="flex fill-space" id="split-container">
                        <div class="menu"></div>
                        <div id="divider"></div>
                        <div class="fill-space">
                            <iframe class="preview-page" src="{{ url_for('iframe_page', filename='index.html') }}"></iframe>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='customize.js') }}"></script>
{% endblock %}
    

