<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customize</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-primary flex column">
    <header class="bg-secondary">
        <div class="wrapper">
            <hgroup class="flex column start">
                <img src="{{ url_for('static', filename='web-gen/logo.png')}}" alt="logo" id="logo">
            </hgroup>
        </div>
    </header>

    <main class="fill-space">
        <div class="wrapper flex" id="weird-wrapper">
            <div class="flex fill-space" id="split-container">
                <div class="menu">
                    <section>
                        <h3>Colors</h3>
                        <form class="flex column" method="POST">
                            <div class="form-item center flex spread">
                                <label>Main colour</label>
                                <input class="color-input" type="color" name="--bg-acc-clr" value="{{ colors['--bg-acc-clr'] }}">
                            </div>
                            <div class="form-item center flex spread">
                                <label>Secondary colour</label>
                                <input class="color-input" type="color" name="--bg-clr" value="{{ colors['--bg-clr'] }}">
                            </div>
                            <div class="form-item center flex spread">
                                <label>Accent colour</label>
                                <input class="color-input" type="color" name="--clr-acc" value="{{ colors['--clr-acc'] }}">
                            </div>
                            <div class="center flex spread">
                                <button type="submit">Apply</button>
                                <button type="submit" name="reset">Reset</button>
                            </div>
                        </form>
                    </section>
                </div>
            
                <div id="divider"></div>
                <div class="fill-space">
                    <iframe class="preview-page" src="{{ url_for('iframe_page', filename='index.html') }}"></iframe>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-secondary">
        <div class="wrapper flex center">
            <span>&copy;Jakub Chovanec 2024</span>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='split.js') }}"></script>
    
</body>
</html>
