<ul class="no-padding">
    <li class="custom-bullet" id="fb">
        <p class="bold"><a href="{{ user_info["fb-link"] }}">{{ user_info["fb"] }}</a></p>
    </li>
    <li class="custom-bullet" id="tel">
        <p class="bold">{{ user_info["tel"] }} </p>
    </li>
    <li class="custom-bullet" id="email">
        <p class="bold">{{ user_info["email"] }}</p>
    </li>

    <li class="custom-bullet" id="map">
        <p class="bold">{{ user_info["addr"] }}</p>
    </li>
</ul>