    <style>
        .custom-bullet#map:before {background-image: url({{ url_for('static', filename='pages/common/map-marker-alt-solid.svg')}});}
        .custom-bullet#email:before {background-image: url({{ url_for('static', filename='pages/common/envelope-regular.svg')}});}
        .custom-bullet#tel:before {background-image: url({{ url_for('static', filename='pages/common/mobile-alt-solid.svg')}});}
        .custom-bullet#fb:before {background-image: url({{ url_for('static', filename='pages/common/facebook-square-brands.svg')}});}
    </style>
