:root {
    /* --main-color: #ff9301; */
  --main-color: ;
  --bg-primary: #fff;
  --bg-secondary: #F5F5F5;
}

html {font-family: 'Segoe UI', sans-serif;}

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

header {border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;}

@layer containers {
    .wrapper {
        max-width: 1040px;
        margin: auto;
        padding-inline: 3vw;
        /* min-height: 3em; */
    }

    .flex {display: flex;}
    .column {flex-direction: column;}
    .start {justify-content: start;}
    .center {
        justify-content: center;
        align-items: center;
    }
    .fill-space{flex: 1;}
    .spread {justify-content: space-between;}
    
     
}

@layer misc {
    
    form {max-width: max-content;}

    #logo {
        height: 1.75em;
        width: 8.75em;
        margin-block: 0.3em;
    }

    label, input {margin-block: 0.1em;}
    button {
        margin-block: 0.3em;
        max-width: fit-content;
    }

    .form-item {
        padding: 0.3em;
        margin-block: 0.3em;
        border: 1px solid #67676769;
        border-radius: 0.5em;
        background-color: var(--bg-secondary);
        box-shadow:3px 3px 3px rgba(0, 0, 0, 0.2);
    }


}



@layer customizer {

    main {position: relative;}

    #divider {
        width: 3px;
        cursor: ew-resize;
        background-color: rgba(0, 0, 0, 0.2);
        position: relative;
    }

    #split-container {height: 100%; }

    .preview-page {
        width: calc(100% / 0.60);
        height: calc(100% / 0.60);
        transform: scale(0.60);
        transform-origin: 0 0;
        border: none;
    }

    .menu {flex: 0 0 33%;}

    #weird-wrapper {height: 100%;}

    .color-input {
        margin-inline: 0.5em;
        border: none;
        /* border-radius: 0.3em; */
        padding: 0;
    }

    .color_form .color-input {
        pointer-events: none;
        cursor: not-allowed;
    }


    #sidebar {
        position: absolute;
        /* width: fit-content; */
        height: 100%;
        background-color: var(--bg-primary);
        box-shadow:0 10px 8px rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
    }
    
  
    #sidebar.active { transform: translateX(0);}
  

    #toggleBtn {
        position: absolute;
        top: 40vh;
        right: -2em; /* sticks outside the sidebar */
        background-color: var(--bg-primary);
        border-radius: 0 6px 6px 0;
        width: 2em;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        
    }
  
    #toggleBtn span {overflow: hidden;
        font-size: 18px;
        transition: transform 0.3s ease;
    }
  
    #sidebar.active #toggleBtn span {transform: rotate(180deg);}

    .tab-buttons {
        border-bottom: 1px solid #ccc;
    }

    .tab-content {
        

    }
    
    .tab-btn {
        background-color: var(--bg-primary);
        flex: 1;
        margin: 0;
        padding: 0.5em 1em;
        /* border: 1px solid #ccc; */
        border: none;
        cursor: pointer;
    }
    
    .tab-btn.active {
        background-color: var(--bg-secondary);
        font-weight: bold;
    }
    
    .tab-panel {
        display: none;
        

    }
    
    .tab-panel.active {
        max-height: 80vh;
        display: flex;
        padding-left: 1em;
        overflow-y: scroll;
    }
    
  
}




@layer utils {
    .bg-primary { background-color: var(--bg-primary);}
    .bg-secondary {background-color: var(--bg-secondary);}
    .main-clr {background-color: var(--main-color);}

    .invisible {display: none;}
}


@media (max-width: 959px) and (min-width: 700px) {
  
     
}
  
@media (max-width: 700px) and (min-width: 360px) {
   .menu , #divider {display: none;}
    
}

