<!DOCTYPE html>
<html lang="cs">

<head>
    <title>Galerie</title>
    <meta name="author" content="Jakub Chovanec">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('preview_static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('preview_static', filename='/photoswipe/photoswipe.css') }}">
</head>

<style id="theme-vars">
    :root {
        --main-clr : {{user_colors["--main-clr"]}};
        --secondary-clr : {{user_colors["--secondary-clr"]}};
        --acc-clr : {{user_colors["--acc-clr"]}};
    }
</style>

<body>
    <header class="bg-color-secondary">
        <div class="wrapper flex header-subpg">
            <hgroup>
                <img src="{{ logo_path }}" alt="logo" class="main_logo"> 
                <h1 class="heading">Galerie</h1>
            </hgroup>

            {% include "navbar.jinja" %}
        </div>
    </header>

    <main class="padding-bottom-extra bg-color-primary">
        <div class="wrapper">
            <section id="osetreni-pleti" class="padding-y">
                <h2 class="heading with-accent">Služba-1</h2>
                
                <div class="pswp-gallery gallery-container" id="my-gallery">
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    
                </div>
          
            </section>

            <section id="osetreni-pleti" class="padding-y">
                <h2 class="heading with-accent">Služba-2</h2>
                
                <div class="pswp-gallery gallery-container" id="my-gallery">
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('themes_shared_static', filename='555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('themes_shared_static', filename='555.png') }}" alt="img"> 
                    </a>                  
                </div>
          
            </section>

        </div>
    </main>

    <footer class="bg-color-secondary">
        <div class="wrapper flex center">
            <span>&copy;Jakub Chovanec 2024</span>
        </div>
    </footer>

    <script type="module">
        import PhotoSwipeLightbox from '{{ url_for('preview_static', filename='photoswipe/photoswipe-lightbox.esm.js')}}';
        const lightbox = new PhotoSwipeLightbox({
          gallery: '#my-gallery' ,  
          children: 'a',
          pswpModule: () => import('{{ url_for('preview_static', filename='photoswipe/photoswipe.esm.js')}}')
        });
        lightbox.init();
    </script> 
    
</body>
