<!DOCTYPE html>
<html lang="cs">

<head>
    <title>Váš Web</title>
    <link rel="stylesheet" href="{{ url_for('preview_static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">



</head>

<style id="theme-vars">
    :root {
        --main-clr : {{user_colors["--main-clr"]}};
        --secondary-clr : {{user_colors["--secondary-clr"]}};
        --acc-clr : {{user_colors["--acc-clr"]}};
    }
</style>

{% include "contact-icons.jinja" %}

<body class="bg-color-secondary">
    <header class="bg-color-primary">
        <div class="wrapper flex header-in">
            <hgroup>
                <img src="{{logo_path}}" alt="logo" class="main_logo">
                <h1 id="site-name" class="heading">{{ user_info.site_name }}</h1>
            </hgroup>

            <ul class="nav-bar">
                <!-- <li class="nav-item"><a class="text" href="#services">Služby</a></li> -->
                <li class="nav-item"><a class="text" href="cenik.html">Ceník</a></li>
                <li class="nav-item"><a class="text" href="gallery.html">Galerie</a></li>
                <li class="nav-item"><a class="text" href="#contact">Kontakt</a></li>
                <li class="nav-item"><a class="text" href="">Objednat se</a></li>
            </ul>
        </div>
    </header>
    
    <main>
        {%- for section in content['sections'] -%}

        {%- if section['type'] == "about" -%}
        <section id="{{section.type}}">
            <div class="wrapper padding-y bg-color-secondary">
                <h2 class="heading with-accent">O mně</h2>
                <p class="text box-margin section_text">
                    {{ section['text'] }}
                </p>
            </div>
        </section>
        {%- endif -%}
        {%- endfor -%}

        <section class="bg-color-primary">
            <div class="wrapper padding-y" id="services-list">
                <h2 class="heading with-accent">Služby</h2>
                {%- for section in content['sections'] -%}
                    {%- if section['type'] == "service" -%}        
                        {% set reverse = "reverse" if loop.index % 2 == 0 else "" %}
                <div class="flex services" id="service_{{ loop.index0 }}">
                    <div class="flex article-services {{ reverse }} corner-2 box-shadow">
                        <div class="article bg-color-secondary">
                            <article class="box-margin">
                                <h3 class="heading section_name">{{ section['name'] }}</h3>
                                <p class="text section_text">
                                    {{ section['text'] }}
                                </p>
                            </article>
                        </div>
                        <img src="{{ section['img'] }}" alt="img">
                    </div>
                    <div class="flex center"><a class="button box-margin box-shadow" href="gallery.html">Více Fotek</a>
                    </div>
                </div>
                {%- endif -%}
                {%- endfor -%}
            </div>

            <template class="invisible" id="service-template">
                    <div class="flex article-services corner-2 box-shadow">
                        <div class="article bg-color-secondary">
                            <article class="box-margin">
                                <h3 class="heading section_name">Služba</h3>
                                <p class="text section_text">
                                    Popisek Služby...
                                </p>
                            </article>
                        </div>
                        <img src="/themes_shared_static/555.png" alt="img">
                    </div>
                    <div class="flex center">
                        <a class="button box-margin box-shadow" href="gallery.html">Více Fotek</a>
                    </div>
            </template>
        </section>
    


        <section id="recenze" class="padding-y bg-color-secondary">
            <div class="wrapper">
                <h2 class="heading with-accent">Napište mi recenzi</h2>
                <div class="flex services">
                    <div class="flex article-services corner-1">
                        <div class="article bg-color-secondary">
                            <section class="box-margin">
                                <p class="text">
                                    Napsáním recenze mě můžete podpořit v růstu a na základě vašeho feedbacku mi
                                    pomůžete zlepšovat péči o zákazníky.
                                </p>
                            </section>
                        </div>
                        <div class="flex center img-services"><a class="button box-margin box-shadow" href="">Napsat
                                Recenzi</a></div>
                    </div>
                </div>
            </div>
        </section>


        <section id="contact" class="padding-y bg-color-secondary">
            <div class="wrapper">
                <h2 class="heading with-accent">Kontakt</h2>
                <div class="grid-contact border">
                    <div class="bg-color-secondary">
                        {% include "contact.jinja" %}
                    </div>
                    {% include "map.jinja" %}
                </div>

            </div>
        </section>

    </main>

    <footer class="bg-color-primary">
        <div class="wrapper flex center">
            <span>&copy;Jakub Chovanec 2024</span>
        </div>
    </footer>
</body>