<!DOCTYPE html>
<html lang="cs">

<head>
    <title>Galerie</title>
    <meta name="author" content="Jakub Chovanec">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('dynamic_css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pages/photoswipe/photoswipe.css') }}">
</head>

<body>
    <header class="bg-color-primary">
        <div class="wrapper flex header-subpg">
            <hgroup>
                <img src="{{ url_for('static', filename='pages/podklady/logo-placeholder.png') }}" alt="logo"> 
                <h1 class="heading">Galerie</h1>
            </hgroup>

            <div class="flex column header-left">
                <ul class="nav-bar back-link">
                    <li class="nav-item"><a class="text" href="javascript:window.history.back();">Zpět</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="padding-bottom-extra bg-color-secondary">
        <div class="wrapper">
            <section id="osetreni-pleti" class="bg-color-secondary padding-y">
                <h2 class="heading with-accent">Služba-1</h2>
                
                <div class="pswp-gallery gallery-container" id="my-gallery">
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    
                </div>
          
            </section>

            <section id="osetreni-pleti" class="bg-color-secondary padding-y">
                <h2 class="heading with-accent">Služba-2</h2>
                
                <div class="pswp-gallery gallery-container" id="my-gallery">
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>
                    <a href="{{ url_for('static', filename='pages/podklady/555.png') }}" data-pswp-width="640" data-pswp-height="360">
                        <img class="corner-1" src="{{ url_for('static', filename='pages/podklady/555.png') }}" alt="img"> 
                    </a>                  
                </div>
          
            </section>

        </div>
    </main>

    <footer class="bg-color-primary">
        <div class="wrapper flex center">
            <span>&copy;Jakub Chovanec 2024</span>
        </div>
    </footer>

    <script type="module">
        import PhotoSwipeLightbox from '{{ url_for('static', filename='pages/photoswipe/photoswipe-lightbox.esm.js') }}';
        const lightbox = new PhotoSwipeLightbox({
          gallery: '#my-gallery' ,  
          children: 'a',
          pswpModule: () => import('{{ url_for('static', filename='pages/photoswipe/photoswipe.esm.js') }}')
        });
        lightbox.init();
    </script>
    
</body>
