<style>
    .custom-bullet#addr:before {background-image: url({{ url_for('themes_shared_static', filename='map-marker-alt-solid.svg')}});}
    .custom-bullet#email:before {background-image: url({{ url_for('themes_shared_static', filename='envelope-regular.svg')}});}
    .custom-bullet#tel:before {background-image: url({{ url_for('themes_shared_static', filename='mobile-alt-solid.svg')}});}
    .custom-bullet#fb:before {background-image: url({{ url_for('themes_shared_static', filename='facebook-square-brands.svg')}});}
</style>