<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='web-gen/logo-small.png')}}" type="image/x-icon">
    <title>Customizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>