{% include 'shared/head.jinja' %}

<body x-data="sidebarTabs('{{ last_tab or 'info' }}')" x-data="{collapsed : false}" class="flex">
    <div id="sidebar" :class="collapsed ? 'collapsed' : ''">
        <div id="toggleBtn" @click="collapsed = !collapsed"><span>&#10094;</span></div>

        <!-- tab buttons -->
        <div class="tab-buttons flex spread">
            <button class="tab-btn" :class="{ 'active': activeTab === 'info' }" @click="setTab('info')">Info</button>
            <button class="tab-btn" :class="{ 'active': activeTab === 'style' }" @click="setTab('style')">Style</button>
            <button class="tab-btn" :class="{ 'active': activeTab === 'palette' }"
                @click="setTab('palette')">Palette</button>
            <button class="tab-btn" :class="{ 'active': activeTab === 'edit' }" @click="setTab('edit')">Edit</button>
        </div>

        <!-- tabs -->
        <section class="tab-panel column" id="info" x-show="activeTab === 'info'" x-transition>
            <h3>Please fill out your info :)</h3>
            <form class="flex column" id="info_form" x-data="liveInfoUpdate()">

                <fieldset class="form-item">
                    <legend>Name of your site</legend>
                    <input type="text" name="site_name" @input="updateIframe('site_name', $event.target.value)">
                </fieldset>

                <fieldset class="form-item">
                    <legend>Your email</legend>
                    <input type="email" name="email" @input="updateIframe('email', $event.target.value)">
                </fieldset>

                <fieldset class="form-item">
                    <legend>Facebook</legend>
                    <input type="fb" name="fb" @input="updateIframe('fb', $event.target.value)">
                </fieldset>

                <fieldset class="form-item">
                    <legend>Telefon</legend>
                    <input type="tel" name="tel" @input="updateIframe('tel', $event.target.value)">
                </fieldset>

                <fieldset class="form-item">
                    <legend>Adresa</legend>
                    <input type="addr" name="addr" @input="handleAddr($event.target.value)">
                </fieldset>

                <button type="reset" hx-post="/site_info" hx-vals='{"reset": true}' hx-target="#preview-page">
                    Reset
                </button>
            </form>


            <h3>Upload your logo here</h3>
            <form class="flex column" x-data="logoUploader">
                <input id="logo_input" type="file" name="logo" accept="image/*" @change="upload">
                <div id="logo_preview">
                    {%- if logo_path != default_logo_path -%}
                    <img src="{{ logo_path }}" class="img-preview">
                    {%- endif -%}
                </div>
                <button type="reset" @click="reset">
                    Reset
                </button>
            </form>

        </section>

        <section class="tab-panel column" id="style" x-show="activeTab === 'style'" x-transition>
            <h3>Choose your style</h3>
            <form class="flex column" id="style_form" hx-post="/site_style" hx-trigger="change"
                hx-target="#preview-page">

                <label class="flex column style_picker_item">
                    <div class="flex spread">
                        <h4>Style 1</h4>
                        <input type="radio" name="style" value="1" checked>
                    </div>
                    <img src="{{ url_for('static', filename='web-gen/style1.png')}}">
                </label>

                <label class="flex column style_picker_item">
                    <div class="flex spread">
                        <h4>Style 2</h4>
                        <input type="radio" name="style" value="2">
                    </div>
                    <img src="{{ url_for('static', filename='web-gen/style2.png')}}">
                </label>

            </form>
        </section>

        <section
            x-data="colorPicker('{{ colors['--main-clr'] }}', '{{ colors['--secondary-clr'] }}', '{{ colors['--acc-clr'] }}')"
            class="tab-panel column" id="palette" x-show="activeTab === 'palette'" x-transition>

            <h3>Choose a color palette</h3>
            <form class="flex column" id="custom_color_form">
                <div class="form-item center flex spread">
                    <label>Main colour</label>
                    <input type="color" class="color-input" x-model="main" @input="updateIframe" name="--main-clr">
                </div>
                <div class="form-item center flex spread">
                    <label>Secondary colour</label>
                    <input type="color" class="color-input" x-model="secondary" @input="updateIframe"
                        name="--secondary-clr">
                </div>
                <div class="form-item center flex spread">
                    <label>Accent colour</label>
                    <input type="color" class="color-input" x-model="accent" @input="updateIframe" name="--acc-clr">
                </div>
            </form>
            <button @click="resetColors">Reset</button>

            <h3>Predefined palettes</h3>
            {%- for palette in pallets -%}
            <div class="color-form flex spread form-item" :class="{ 'selected': selectedPalette === {{ loop.index }} }"
                @click="applyPalette('{{ palette['--main-clr'] }}', '{{ palette['--secondary-clr'] }}', '{{ palette['--acc-clr'] }}', {{ loop.index }})">
                <input type="color" class="color-input" value="{{ palette['--main-clr'] }}">
                <input type="color" class="color-input" value="{{ palette['--secondary-clr'] }}">
                <input type="color" class="color-input" value="{{ palette['--acc-clr'] }}">
            </div>
            {%- endfor -%}

        </section>


        <section class="tab-panel column" id="edit" x-data="editor" x-show="activeTab === 'edit'" x-transition>

            <form id="content_edit_form" autocomplete="off" class="scroll">
                <h3>Podstránky</h3>

                {%- for section in content -%}
                {%- if section.id not in ['about', 'services', 'reviews'] -%}
                {% set visibility = "checked" if section.visible else "" %}
                <fieldset class="edit_container" id="{{ section.id }}" x-data="{invisible : true}">
                    <legend>{{ section.name }}</legend>
                    <div class="flex spread center">
                        <input id="{{ section.id }}_visibility" type="checkbox" {{visibility}}
                            @change="toggleRemove('{{ section.id }}')">
                    </div>
                </fieldset>
                {%- endif -%}
                {%- endfor -%}

                <h3>Záhlaví</h3>
                {%- for section in content -%}
                {%- if section.id == 'about' -%}
                {%- set visibility = "checked" if section.visible else "" -%}
                <fieldset class="edit_container" id="{{ section.id }}" x-data="{invisible : true}">
                    <legend>Uvodní Sekce</legend>
                    <div class="flex spread center">
                        <button type="button" class="edit_button" @click="invisible = !invisible">Edit</button>
                        <input id="{{ section.id }}_visibility" type="checkbox" {{visibility}}
                            @change="toggleRemove('{{ section.id }}')">
                    </div>
                    <div class="edit_hidden flex column" :class="invisible ? 'invisible' : ''">
                        <label>Název:</label>
                        <input type="text" id="{{ section.id }}_name" value="{{ section.name }}"
                            @input="updateSection('{{ section.id }}', 'name', $event.target.value)">
                        <label>Popisek:</label>
                        <textarea id="{{ section.id }}_text"
                            @input="updateSection('{{ section.id }}', 'text', $event.target.value)">{{ section.text }}</textarea>

                    </div>
                </fieldset>
                {%- endif -%}
                {%- endfor -%}

                <h3>Služby</h3>
                <div id="services_container">
                    {%- for section in content -%}
                    {%- if section.id == 'services' -%}
                    {%- for service in section.service_list -%}
                    <fieldset id="service_{{loop.index}}" class="edit_container service" x-data="{invisible : true}"
                        data-img="{{ service.img }}">
                        <legend class="fieldset_name">{{ service.name }}</legend>
                        <button type="button" class="edit_button" @click="invisible = !invisible">Edit</button>
                        <button type="button" class="edit_remove_button"
                            @click="remove('service_{{loop.index}}')">Remove</button>
                        <div class="edit_hidden flex column" :class="invisible ? 'invisible' : ''">
                            <label>Název:</label>
                            <input type="text" class="service_name" value="{{ service.name }}"
                                @input="updateSection('service_{{loop.index}}', 'name', $event.target.value)">
                            <label>Popisek:</label>
                            <textarea class="service_text"
                                @input="updateSection('service_{{loop.index}}', 'text', $event.target.value)">{{ service.text }}</textarea>
                            <label>Úvodní fotografie:</label>
                            <input class="button service_img" type="file" accept="image/*" @change="updateSection('service_{{loop.index}}', 'img', $event.target.files[0])">
                            <div class="service_img_preview">
                                {%- if service.img != default_service_img -%}
                                <img src="{{ service.img }}" class="img-preview">
                                {%- endif -%}
                            </div>
                            <label>Cena:</label>
                            <input type="number" min="0" step="50" value="{{service.price}}" class="service_price"
                                @input="updateSection('service_{{loop.index}}', 'price', $event.target.value)">
                        </div>
                    </fieldset>
                    {%- endfor -%}
                    {%- endif -%}
                    {%- endfor -%}
                </div>

                <div class="flex center">
                    <button type="button" class="button round" @click="addService">+</button>
                </div>

                <h3>Další sekce</h3>
                <div>
                    {%- for section in content -%}
                    {%- if section.id == 'reviews' -%}
                    {% set visibility = "checked" if section.visible else "" %}
                    <fieldset class="edit_container" id="{{ section.id }}" x-data="{invisible : true}">
                        <legend>{{ section.name }}</legend>
                        <div class="flex spread center">
                            <input id="{{ section.id }}_visibility" type="checkbox" {{visibility}}
                                @change="toggleRemove('{{ section.id }}')">
                        </div>
                    </fieldset>
                    {%- endif -%}
                    {%- endfor -%}
                </div>
                <h3></h3>
                <button type="button" hx-post="/site_content" hx-vals='{"reset": true}' hx-target="#preview-page"
                    @click="reset">
                    Reset
                </button>
            </form>


        </section>
    </div>

    <div class="preview-wrapper flex column">
        <div class="topbar flex center">
            <button class="resize-btn button" @click="resizeIframe('mobile')">Mobile</button>
            <button class="resize-btn button" @click="resizeIframe('tablet')">Tablet</button>
            <button class="resize-btn button" @click="resizeIframe('desktop')">Desktop</button>
        </div>

        <iframe id="preview-page" src="{{ url_for('preview', filename='index.html') }}">
        </iframe>
    </div>
    <script src="{{ url_for('static', filename='js/customize.js') }}"></script>
</body>