:root {
  /* --acc-clr: #ff9301; */
  --main-clr: #f7f7ff;
  --secondary-clr: #eeeeee;
  --acc-clr: #ff9301;
}


@layer base {
  
  body {font-family: "Roboto", sans-serif;}

  header {
    position: relative;
    z-index: 0;
  }

  main {padding-top: 4vw;}
  footer {padding-block: 1em;}
  
}

@layer containers {

  .wrapper {
    max-width: 1140px;
    margin-inline: auto;
    padding-inline: 4vw;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .start {justify-content: start;}
   .center {
    justify-content: center;
    align-items: center;
  }

  .wrap {flex-wrap: wrap;}
  .column {flex-direction: column;}
  .align-bottom {align-items: end;}

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 1em;
  }

  .item-whatdoido {
    position: relative;
    overflow: hidden;
    align-items: start;
    z-index: 0;
  }

  .item-awards {flex: 1;}
  
  .exp-left {
    align-self: stretch;
    flex-basis: 50%;
    align-items: start;
    justify-content: center;
    gap: 0.5em;
  }

  .contact-flex {gap: 0;}

  .contact-item {
    flex: 1 0 50%;
    justify-content: center;
  }

  .contact-item .box-1 , .contact-item .box-2, .contact-item .box-3 {border:1px solid #bbbbbb;}
  .contact-item .box-1 {flex: 1;}
  .contact-item .box-3 {
    height: 6em;
    resize: vertical;
  }

}


@layer bg-shapes {

  .header-bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0.5;
    width: 50%;
    z-index: -1;
  }

  .header-bg-shape circle {fill: var(--acc-clr)}

  .with-accent:before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: -5px;;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: var(--acc-clr);
    opacity: 0.5;
    z-index: -1;
  }

  .item-whatdoido:before {
    content: "";
    display: block;
    position: absolute;
    left: -35px;
    top: -55px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color:var(--acc-clr);
    z-index: -1;
  }

}

@layer misc {

  .header-left {
    line-height: 15%;
    padding-top: 2vw;
  }

  header img {height: 170px;}

  nav {
    margin-top: 2vw;
    height: 3em;
  }

  .nav-item {list-style: none;}
  .nav-item a {text-decoration: none;}

  .nav-item a:hover {
    text-decoration: underline var(--acc-clr) solid 3px;
    text-underline-offset: 12px;
  }
  
  .with-accent {
    position: relative;
    display: inline-block;
    z-index: 0; 
  }
  
  #squigly-line {
    height: 3em;
    background-image: url("podklady/border-dark.png");
    background-repeat: repeat-x;
    background-size: 10em;
    background-position-y: bottom;
  }

  .bio-avatar {flex: 1 50%;}

  .avatar2 {
    border-radius: 50%;
    height: 100px;
  }

  .dv-line {border-right: #55555552 solid 1px;} 

  .myportfolio-grid img {width: 100%;}

  .custom-bullet {
    z-index: 0;
    position: relative;
    list-style: none;
    margin-block: 2em;
    padding-left: 3em;
  }

  .custom-bullet:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -0.5em;
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .custom-bullet#email:before {left: -0.4em;}
  .custom-bullet#map:before {background-image: url("podklady/map-marker-alt-solid.svg");}
  .custom-bullet#email:before {background-image: url("podklady/envelope-regular.svg");}
  .custom-bullet#tel:before {background-image: url("podklady/mobile-alt-solid.svg");}

  .btn {
    border: none;
    cursor: pointer;
    width: fit-content;
  }
 
  .map {
    width: 100%;
    height: 15em;
    border: 5px solid #eeeeee;
    filter: grayscale(100%);
    box-sizing: border-box;
  }


}


@layer text {

  h1 {font-size: 6em;}

  .hgroup-bio {
    text-align: center;
    line-height: 0;
  }

  .sub.heading {font-size: 2em;}

  .text-normal { 
    line-height: 1.5; 
    color: #555555;
    font-weight: 400;
  }

  .heading {
    color: #0b0b15;
    font-weight: 900;
  }

  .bold {font-weight: 900;}

}


@layer utils {

  .no-margin {margin: 0;}
  .no-padding {padding: 0;}

  .padding-sides-x {padding-block: 2vw;}
  .padding-box {padding: 1em;}
  .padding-box-sm {padding: 0.5em;}

  .border-box {border-radius: 0.3em;}
  .border-style {border-radius: 1em;}


  .clr-black {color: #0b0b15;}
  .clr-orange {color: var(--acc-clr);}
  .clr-primary {color: #eeeeee;}
  .bg-orange {background: var(--acc-clr);}
  .bg-black {background: #0b0b15;}
  .bg-gray {background: #555555;}
  .bg-primary {background: var(--main-clr);}
  .bg-secondary {background: var(--secondary-clr);}
  
}




@media (max-width: 1199px) and (min-width: 960px) {
  html {font-size: small;}

  header img {height: 150px;}

}


@media (max-width: 959px) and (min-width: 560px) {
  html {font-size: small;}

  header .header-bg-shape, header img {display: none;}

  .bio, .whatdoido ,.contact-flex { flex-direction: column;}
   
}

@media (max-width: 559px) and (min-width: 360px) {

  html {font-size: 80%;}

  header .header-bg-shape, header img {display: none;}
  .header-left {width: 100%;}

  nav {height: fit-content;}

  .main-nav {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
  }
  
  .main-nav li {
    background-color:var(--acc-clr);
    border-radius: 0.3em;
   
  }
  
  .main-nav a {
    display: block;
    text-align: center;
    padding: 0.75em;
    color: #0b0b15;
    text-decoration: none;
  }

  .awards, .bio, .whatdoido , .contact-flex , .item-experience, .contact-left , .footer-content {flex-direction: column;}

  .item-awards {
    flex-direction: row;
    justify-content: start;
  }

  .item-experience .dv-line {border: none;}

}

  

  


  

  


 

  

  


  

  





